

{{#if snippetData}}
<h2>{{snippetData.title}}</h2>
<p>{{snippetData.author.username}}</p>
<p>{{snippetData.creationDate}}</p>
<p>Tags: {{snippetData.tags}}</p>
<textarea>{{snippetData.body}}</textarea>
{{/if}}